<ion-header class="admin_head">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Admin Profile Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-12 class="">
      <form   [formGroup]="profileeditForm" (ngSubmit)="updateForm()">
        <ion-input  type="hidden" formControlName="profileID" ></ion-input>
        <ion-row>
            <ion-col size-md="6" size-xs="12">
                <ion-item lines="none">
                    <ion-label position="floating" color="dark" class="ionlabel">Name</ion-label>
                    <ion-input   formControlName="name" type="text" placeholder="Full Name" class="editprof"></ion-input>
                    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required" class="required">
                      Full Name is required.
                    </span>
                </ion-item>
            </ion-col>
            <ion-col size-md="6" size-xs="12">
                <ion-item lines="none">
                  <ion-label position="floating" color="dark" class="ionlabel">Email</ion-label>
                  <ion-input   formControlName="email" type="text" placeholder="Email" class="editprof"></ion-input>
                  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required" class="required">
                    Email is required.
                  </span>
                  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.email" class="required">
                    Email is not valid.
                  </span>
                </ion-item>
            </ion-col>
            <ion-col size-md="6" size-xs="12">
              <ion-item lines="none">
                <ion-label position="floating" color="dark" class="ionlabel">Change Password</ion-label>
                <ion-input formControlName="password" type="password" placeholder="Password" class="editprof"></ion-input>
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required" class="required">
                  Password is required.
                </span>
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minlength" class="required">
                  Password must be minimum 6 characters.
                </span>
              </ion-item>
            </ion-col>
            
            <ion-col size-md="6" size-xs="12">
              <ion-item lines="none">
                <ion-label position="floating" color="dark" class="ionlabel">Confirm Password</ion-label>
                <ion-input formControlName="confirm_password" type="password" placeholder="Confirm Password" class="editprof"></ion-input>
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.confirm_password.errors?.required" class="required">
                  Confirm Password is required.
                </span>
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.confirm_password.errors?.confirmedValidator" class="required">
                  Password and Confirm Password must be match.
                </span>
              </ion-item>
            </ion-col>
      
            <ion-col size-md="6" size-xs="12">
              <ion-item lines="none">
                <ion-label position="floating" color="dark" class="ionlabel">Address</ion-label>
                <ion-input formControlName="address" type="text" placeholder="Address" class="editprof"></ion-input>
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.address.errors?.required" class="required">
                  Address is required.
                </span>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size-xs="12">
              <ion-item lines="none">
                <ion-label position="floating" color="dark" class="ionlabel">Pincode</ion-label>
                <ion-input formControlName="pincode" type="text" placeholder="Pincode" class="editprof"></ion-input>
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pincode.errors?.required" class="required">
                  Pincode is required.
                </span>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size-xs="12">
              <ion-item lines="none">
                <ion-label position="floating" color="dark" class="ionlabel">Profile Image</ion-label>
                <ion-input formControlName="profile_image" type="file" placeholder="Profile Image" class="editprof" (change)="uploadFile($event)"></ion-input>
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.profile_image.errors?.required" class="required">
                  Profile Image is required.
                </span>
              </ion-item>
            </ion-col>
        </ion-row>

        <ion-row >
          <ion-col class="lastcols">
            <ion-button type="submit" class="submit_button justify-content-center">Submit</ion-button>
            <ion-button type="button" (click)="cancel()" class="cancel_button justify-content-center">Cancel</ion-button>
          </ion-col>

         
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
