<ion-header class="admin_head">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Property Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main_back">
  <ion-slides pager="true" loop="true" autoplay="true" class="slide_box">

    <ion-slide *ngFor="let image of propertyImages">
      <div class="slide">
        <img src={{image}}/>
      </div>
    </ion-slide>

</ion-slides>

<ion-row class="property_details">
    <ion-col size="12">
        <div position="floating" class="listdets">{{propertyName}}</div>
    </ion-col>
    <ion-col size="12">
        <div position="floating" class="listdets">Rs. {{propertyOfferPrice}}</div>
    </ion-col>
</ion-row>

<ion-list>
  <div class="additional_box">
      <h3>Additional Details</h3>
      <ion-row>
          <ion-col size="5">
              <ion-label position="floating" class="listheading">Area</ion-label>
          </ion-col>
          <ion-col size="7">
              <div position="floating" class="listdets">{{propertyArea}} sqft</div>
          </ion-col>
      </ion-row>
      <hr>
      <ion-row>
          <ion-col size="5">
              <ion-label position="floating" class="listheading">Size</ion-label>
          </ion-col>
          <ion-col size="7">
              <div position="floating" class="listdets">{{propertySize}} BHK</div>
          </ion-col>
      </ion-row>
      <hr>
      <ion-row>
          <ion-col size="5">
              <ion-label position="floating" class="listheading">Floor</ion-label>
          </ion-col>
          <ion-col size="7">
              <div position="floating" class="listdets">{{propertyFloor}}</div>
          </ion-col>
      </ion-row>
      <hr>
      <ion-row>
          <ion-col size="5">
              <ion-label position="floating" class="listheading">Bedroom</ion-label>
          </ion-col>
          <ion-col size="7">
              <div position="floating" class="listdets">{{propertyBedrooms}}</div>
          </ion-col>
      </ion-row>
      <hr>
      <ion-row>
          <ion-col size="5">
              <ion-label position="floating" class="listheading">Bathroom</ion-label>
          </ion-col>
          <ion-col size="7">
              <div position="floating" class="listdets">{{propertyBathrooms}}</div>
          </ion-col>
      </ion-row>
      <hr>
      <ion-row>
          <ion-col size="5">
              <ion-label position="floating" class="listheading">House No.</ion-label>
          </ion-col>
          <ion-col size="7">
              <div position="floating" class="listdets">{{propertyHouseNumber}}</div>
          </ion-col>
      </ion-row>
      <hr>
      <ion-row>
          <ion-col size="5">
              <ion-label position="floating" class="listheading">Address</ion-label>
          </ion-col>
          <ion-col size="7">
              <div position="floating" class="listdets">{{propertyAddress}}</div>
          </ion-col>
      </ion-row>
      <hr>
      <ion-row>
          <ion-col size="5">
              <ion-label position="floating" class="listheading">Contact No.</ion-label>
          </ion-col>
          <ion-col size="7">
              <div position="floating" class="listdets">{{propertyContactNumber}}</div>
          </ion-col>
      </ion-row>
     
      <hr *ngIf="showinfoflag == 1">
      <div *ngIf="showinfoflag == 1">
        <ion-row>
            <ion-col size="5">
                <ion-label position="floating" class="listheading">Property Type</ion-label>
            </ion-col>
            <ion-col size="7">
                <div position="floating" >{{spropertyType}}</div>
            </ion-col>
        </ion-row>
        <hr>
        <ion-row>
            <ion-col size="5">
                <ion-label position="floating" class="listheading">Feature</ion-label>
            </ion-col>
            <ion-col size="7">
                <div position="floating" >{{spropertyFeature}}</div>
            </ion-col>
        </ion-row>
        <hr>
        <ion-row>
            <ion-col size="5">
                <ion-label *ngIf="propertyPurpose == 1" position="floating" class="listheading">Feature Type for Rent</ion-label>
                <ion-label *ngIf="propertyPurpose == 2" position="floating" class="listheading">Feature Type for Sell</ion-label>
            </ion-col>
            <ion-col size="7">
                <div position="floating" >{{spropertyFeatureType}}</div>
            </ion-col>
        </ion-row>
        <hr *ngIf="rentTypeflag == 1">
        <ion-row *ngIf="rentTypeflag == 1">
            <ion-col size="5">
                <ion-label position="floating" class="listheading">Rent Type</ion-label>
            </ion-col>
            <ion-col size="7">
                <div position="floating" >{{spropertyRentType}}</div>
            </ion-col>
        </ion-row>
      </div>
      <hr>
      <ion-row *ngIf="showinfoflag == 0" justify-content-center>
        <ion-col col-12 align-self-center>
          <a (click)="showInfo()"  class="">
            <div class="create justify-content-center">
                Show more details
            </div>
          </a>
        </ion-col>
      </ion-row>  
      <ion-row *ngIf="showinfoflag == 1" justify-content-center>
        <ion-col col-12 align-self-center>
          <a (click)="hideInfo()"  class="">
            <div class="create justify-content-center">
                Show less details
            </div>
          </a>
        </ion-col>
      </ion-row>  

      <hr>
      <ion-row>
        <ion-col size="5">
            <ion-label position="floating" class="listheading">Description</ion-label>
        </ion-col>
      </ion-row>
      <div class="payment_bx">
        <p>{{propertyDescription}}</p>
      </div>

      <hr>
      <ion-row class="lastcols ion-text-center">
        <ion-col size="4"  >
          <ion-button type="button" (click)="edit()"  class="edit_btn"> EDIT </ion-button>
        </ion-col>
        <ion-col size="4">
          <div>
            <ion-button *ngIf="propertyStatus == 0" type="button" (click)="active()" class="actv_btn"> ACTIVATE </ion-button>
            <ion-button *ngIf="propertyStatus == 1" type="button" (click)="active()" class="actv_btn"> DEACTIVATE </ion-button>
          </div>
        </ion-col>
        <ion-col size="4"  >
            <ion-button type="button" (click)="delete()"  class="delete_btn"> DELETE </ion-button>  
        </ion-col>
      </ion-row>
  </div>
</ion-list>

</ion-content>
