ion-content{
    // --background: url(src\assets\img\bg_one.jpg) center no-repeat fixed ; 
    --background: #fff; 
    --background-size: cover; 
}
ion-item{
    --background:none;
    --color: #000;
    border: 1px solid #000;
    margin-bottom: 1em;
    border-radius: 5px;
}
ion-button{
    --background: #0b8937; 
    --font-family: Helvetica, Arial, sans-serif ; 
    //text-transform: uppercase;
    //text-align: center;
    //padding: 1.7em 5em; 
    //color: #fff;
    // font-weight: 800;
    --font-size: large;
    --opacity:1 ; 
}
ion-input{
    padding: 10px; font-size: 24px;
}
ion-icon{
    margin: 0 10px 0 0 ; font-size: 24px;
}
.formarea{
    max-width: 80%;
}
.inbtn{
    background-color:#0daf46 ; padding:1rem 3.5em; border-radius: 5px;
     -webkit-border-radius: 5px; color: #fff; font-size: 24px;
     margin: 0 auto;
     display: block;
     -webkit-box-shadow: 0 6px 0 1px #06461c;
box-shadow: 0 6px 0 1px #06461c;
}
.inbtn:hover{
    -webkit-box-shadow:none;
box-shadow:none;
}
.logo{
    margin: 2em auto;
    max-width: 50%;
}
.registrationheading{
    font-family: Helvetica,  Arial, sans-serif;
    font-size: 28px;
    
}
.formarea{
    margin: 0 auto;
}
.inputfields{
    font-size: 16px; color: #fff; font-family: Arial, Helvetica, sans-serif;
}

.submitbtn{
    --background: #3598db; font-family: 'roboto', Arial, Helvetica, sans-serif ; 
    --font-size: large;
    --opacity: 1;
    font-size: 20px;
    text-transform: capitalize;
 }
.forgetpassword{
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin: 1.3em 0;
    text-decoration: none;
    display: block; font-family: Arial, Helvetica, sans-serif;
}
.create{display: block; width: 100%; text-align: center; font-size: 16px; font-family: Arial, Helvetica, sans-serif;
color: #000;;
}

.required {
    color: red;
}   

.back_btn{--background: #000;
    --font-family: Helvetica, Arial, sans-serif;
    --font-size: large;
    --opacity: 1;
    font-size: 20px;
    text-transform: capitalize;}

.button_box{text-align:center;}